<ion-view hide-nav-bar="true" ng-controller="ChangePasswordCtrl">
  <ion-content scroll="false" class="padding backgroud-druido" ng-init="initController()">
    <div class="bar bar-header menu-top">
      <a ng-click="home()" class="home">
        <i class="icon ion-home"></i>
      </a>
      <h1 class="title title-menu-top name">{{data.name}}</h1>
      <button class="button button-assertive icon ion-power" ng-click="logout()"></button>
    </div>
    <br>
    <br>
    <h1 class="title-menu-top">Change Password</h1>
    <br>
    <form name="changePasswordForm" novalidate>
      <div class="list">
        <label class="item item-input item-register">
          <input name="newPassword" type="password" placeholder="New password *" ng-model="data.newPassword" required ng-maxlength="200">
        </label>
        <label class="item item-input item-register">
          <input name="confirmNewPassword" type="password" placeholder="Confirm new password *" ng-model="data.confirmNewPassword" required ng-maxlength="200">
        </label>
      </div>
    
      <div padding>
        <button class="button button-block button-druido button-shadow" block ng-click="changePassword()" 
        ng-disabled="changePasswordForm.newPassword.$invalid || changePasswordForm.confirmNewPassword.$invalid || !checkValidPassword()">Change</button>
      </div>
    </form>
    <a class="go-back" href="#/landing">Go back</a>
  </ion-content>
</ion-view>