<ion-view hide-nav-bar="true" ng-controller="CommentCtrl">
  <ion-content scroll="false" ng-init="initController()" class="padding backgroud-druido">
    <div>
      <div class="bar bar-header menu-top">
        <a ng-click="home()" class="home"><i class="icon ion-home" ></i></a>
        <h1 class="title title-menu-top name">{{data.name}}</h1>
        <button class="button button-assertive icon ion-power" ng-click="logout()"></button>
      </div>
      <br>
      <br>
      <h1 class="title-menu-top">Comments</h1>
      <ion-scroll class="box-comments" direction="y" id="map_content">
        <div class="list">
          <a class="item item-avatar" href="" ng-repeat="comment in comments">
            <img class="border-druido" src="img/user.png" ng-click="editComment(comment)">
            <h2 ng-click="editComment(comment)">{{comment.name}}</h2>
            <p ng-click="editComment(comment)">{{comment.message}}</p>
            <i class="icon ion-ios7-telephone-outline" ng-click="vote(comment, true)">
              <span class="badge badge-balanced icon-badge-up">{{comment.positives}}</span>
            </i>
            <i class="icon ion-ios7-telephone-outline" ng-click="vote(comment, false)">
              <span class="badge badge-assertive icon-badge-down">{{comment.negatives}}</span>
            </i>
          </a>
        </div>
      </ion-scroll>
      <br>
      <form name="commentForm" novalidate>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input name="message" type="text" placeholder="Comment message *" ng-model="data.message" required ng-maxlength="300">
        </label>
        <button ng-if="!checkEditPermission()" class="button button-small button-submit ion-paper-airplane button-shadow" ng-click="comment()" ng-disabled="commentForm.message.$invalid"></button>
        <button ng-if="checkEditPermission()" class="button button-small button-assertive button-shadow icon ion-trash-b" ng-click="deleteComment()"></button>
        <button ng-if="checkEditPermission()" class="button button-small button-submit button-shadow icon ion-edit" ng-click="submitEditComment()" ng-disabled="commentForm.message.$invalid"></button>
      </div>
      </form>
    </div>
  </ion-content>
</ion-view>