<ion-view hide-nav-bar="true">
  <ion-content scroll="false" ng-controller="LoginCtrl" class="padding backgroud-druido">
    <div>
      <h1 class="title-druido">Druido Forum</h1>
      <img class="image-login" src="img/012-elf.png"></img>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <button class="button button-block button-calm" ng-click="login()">Login</button>
    <a class="reset-password" href="" ng-click="resetPassword()">Reset password</a>
    <ion-footer no-shadow>
      <button class="button button-block button-balanced" ng-click="register()">Sign up</button>  
    </ion-footer>
  </ion-content>
</ion-view>