<ion-view hide-nav-bar="true" ng-controller="NewPostCtrl">
  <ion-content scroll="false" class="padding backgroud-druido" ng-init="initController()">
    <div class="bar bar-header menu-top">
      <a ng-click="home()" class="home">
        <i class="icon ion-home"></i>
      </a>
      <h1 class="title title-menu-top name">{{data.name}}</h1>
      <button class="button button-assertive icon ion-power" ng-click="logout()"></button>
    </div>
    <br>
    <br>
    <div class="list">
      <br>
      <label class="item item-input item-register">
        <input type="text" placeholder="Title" ng-model="data.title">
      </label>
      <br>
      <label class="item item-input">
        <textarea placeholder="Description" ng-model="data.description"></textarea>
      </label>
    </div>
    <select class="col druido-radius" 
      ng-options="category as category.name for category in categories track by category.id" 
      ng-model="data.category">
    </select>
    <div class="row">
        <div class="col"><button class="button button-block button-assertive button-shadow" ng-click="cancel()">Cancel</button></div>
        <div class="col"></div>
        <div class="col">
          <button ng-if="!isEdit()" class="button button-block button-druido button-shadow" ng-click="create()">Create</button>
          <button ng-if="isEdit()" class="button button-block button-druido button-shadow" ng-click="edit()">Edit</button>
        </div>
      </div>
  </ion-content>
</ion-view>