<ion-view hide-nav-bar="true" ng-controller="PostCtrl">
  <ion-content scroll="false" class="padding backgroud-druido" ng-init="initController()">
    <div class="bar bar-header menu-top">
      <img class="image-user border-druido" src="img/user.png"></img>
      <h1 class="title title-menu-top">{{data.name}}</h1>
      <button class="button button-assertive icon ion-log-out" ng-click="logout()"></button>
    </div>
    <br>
    <br>
    
    <div class="card">
      <div class="item item-divider">
        {{data.title}}
      </div>
      <div class="item item-text-wrap font-description">
        {{data.description}}
      </div>
      <div class="row">
        <div class="col like-icon" ng-click="like()">
          <i class="icon ion-thumbsup"></i> {{data.likes}} <a href=""></a>   
        </div>     
        <div class="col"><button class="button button-small button-submit button-font-white comment-button" ng-click="openComments()">Comments</button></div>
        <div class="col">
          <button class="button button-small button-submit button-font-white edit-button" ng-if="checkEditPermission()" ng-click="editPost()">Edit</button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>