<ion-view hide-nav-bar="true" ng-controller="PostCtrl">
  <ion-content scroll="false" class="padding backgroud-druido" ng-init="initController()">
    <div class="bar bar-header menu-top">
      <a ng-click="home()" class="home">
        <i class="icon ion-home"></i>
      </a>
      <h1 class="title title-menu-top name">{{data.name}}</h1>
      <button class="button button-assertive icon ion-power" ng-click="logout()"></button>
    </div>
    <br>
    <br>
    
    <div class="card">
      <div class="item item-divider">
        {{data.title}}
      </div>
      <ion-scroll class="druido-radius" direction="y" id="map_content">
      <div class="item item-text-wrap font-description">
        {{data.description}}
      </div>
      </ion-scroll>
      <div class="item item-divider">
        Post by: {{data.postBy}}
      </div>
      <div class="row">
        <div class="col like-icon" ng-click="like()">
          <i class="icon ion-thumbsup"></i> {{data.likes}} <a href=""></a>   
        </div>  
        <div class="col">
        </div>
        <div class="col">
          <button class="button button-small button-submit icon ion-chatboxes comment-button btn-opt button-shadow" ng-click="openComments()"></button>
        </div>
        <div class="col">
          <button class="button button-small button-submit icon ion-edit btn-opt button-shadow" ng-if="checkEditPermission()" ng-click="editPost()"></button>
        </div>
        <div class="col">
          <button class="button button-small button-submit button-assertive icon ion-trash-b btn-opt button-shadow" ng-if="checkEditPermission()" ng-click="deletePost()"></button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>