<ion-view hide-nav-bar="true">
  <ion-content scroll="false" ng-controller="RegisterCtrl" class="padding backgroud-druido">
    <h1 class="title-druido">Registration</h1>
    <div class="list">
      <label class="item item-input item-register">
        <input type="email" placeholder="E-mail">
      </label>
      <label class="item item-input item-register">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input item-register">        
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-register">
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input item-register">
        <input type="file" placeholder="Profile Picture"></input>
      </label>
    </div>

    <div padding>
      <button class="button button-block button-calm" block>Sign Up</button>
    </div>
  </ion-content>
</ion-view>