.backgroud-druido {
  background: #e2e2e2
}

.button-druido {
  background: #00BCD4;
  color: white;
}

a {
  color: #780522;
}

.button-shadow {
  -webkit-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.75);
}

.druido-radius {
  border-radius: 4px;
}

.button-grey {
  color: #fff;
  background: #bbc1bd;
}

.image-login {
    display: block;
    width: 40vw;
    height: 40vw;
    background: white;
    -moz-border-radius: 20vw;
    -webkit-border-radius: 20vw;
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin-left: 26vw;
    border: 1px solid #E0F7FA;
}

.image-user {
    display: block;
    width: 10vw;
    height: 10vw;
    background: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #E6E7ED;
    border-radius: 50%;
}

.reset-password {
  margin-left: 33vw;
}

.go-back {
  position: absolute;
  left: 160px;
}

.title-druido {
  color: #780522;
  margin-top: 30vw;
  margin-left: 18vw;
}

.item-register {
  margin-bottom: 5vw;
}

.bar-header {
  margin-bottom: 10vw !important;
}

.box-posts {
  height: 80vw;
  border: 1px solid darkgray;
}

.box-comments {
  height: 55vh;
  border: 1px solid darkgray;
}

textarea {
  height: 70vw;
}

.item-text-wrap {
  height: 55vh;
}

.item .icon .icon-badge-up {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.item .icon .icon-badge-down {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 13px;
}

.button-refresh {
  color: #fff;
}

.title-menu-top {
  color: #780522 !important;
}

.menu-top {
  background: #00BCD4;
  color: #780522;
}

.scroll{
  height:100% !important
}

.button-refresh {
  margin-left: 40px;
}

.button-submit {
  background-color: #80DEEA;
  color: #fff
}

.likes-post {
  position: absolute;
  top: 40px;
  left: 250px;
}

.comments-post {
  position: absolute;
  top: 40px;
  left: 300px;
}

.font-description {
  font: normal normal normal 13px/1.4em helveticaneuew01-45ligh,sans-serif;

}

.button-font-white {
  color: #fff;
}

.like-icon {
  color: #00BCD4;
  font-size: 30px;
}

.edit-button {
  position: absolute;
  left: 300px;
}

.comment-button {
  background-color: #780522;
}

.tabs .tab-item .badge.badge-balanced, .badge.badge-balanced {
  background-color: #00BCD4;
  color: #fff;
}

.btn-opt {
  width: 40px;
}

.ion-home {
  color: white !important;
  font-size: 30px;
  margin-top: 3px;
  margin-left: 6px;
}

.name {
  position: relative !important;
  margin-left: 90px !important;
  margin-top: -5px !important;
}

.home {
  margin-top: 3px;
}

.item-input-inset .item-input-wrapper input {
  width: 230px;
}

.post-by {
  font-size: 13px !important;
}