.backgroud-druido {
  background: #f4f3ec
}

.image-login {
    display: block;
    width: 40vw;
    height: 40vw;
    background: white;
    -moz-border-radius: 20vw;
    -webkit-border-radius: 20vw;
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin-left: 26vw;
    border: 1px solid #E6E7ED;
}

.image-user {
    display: block;
    width: 10vw;
    height: 10vw;
    background: white;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 1px solid #E6E7ED;
    border-radius: 50%;
}

.reset-password {
  margin-left: 33vw;
}

.title-druido {
  margin-top: 30vw;
  margin-left: 18vw;
}

.item-register {
  margin-bottom: 5vw;
}

.search-landing {
  /* margin-top: 15vw; */
}

.bar-header {
  margin-bottom: 10vw !important;
}

.box-posts {
  height: 80vw;
  border: 1px solid darkgray;
}

.box-comments {
  height: 65vh;
  border: 1px solid darkgray;
}

textarea {
  height: 85vw;
}

.item-text-wrap {
  height: 70vh;
}

.item .icon .icon-badge-up {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 13px;
}

.item .icon .icon-badge-down {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 13px;
}

.scroll{
  height:100% !important
}